/* button.danger {
    background-color: red;
    color: white;
    font-weight: bolder;
}

label {
    display: inline-block;
    width: 10em;
    vertical-align: top;
}

input[type="text"][readonly] {
    background-color: #ddd;
} */