<div *ngIf="project">
  <h2 class="text-muted pb-4 offset-1">{{ project.project_name | uppercase }}</h2>

  <div class="form-group form-row">
    <label for="project_name" class="col-md-2 text-xs-left text-md-right pt-1 control-label">Project ID</label>
    <div class="col-md-9">
      <input class="form-control" value="{{project.id}}" id="project_id" name="project_id"
        type="text" readonly />
    </div>
  </div>

  <div class="form-group form-row">
    <label for="project_name" class="col-md-2 text-xs-left text-md-right pt-1 control-label">Project Name</label>
    <div class="col-md-9">
      <input class="form-control" [(ngModel)]="project.project_name" id="project_name" name="project_name"
        type="text" />
    </div>
  </div>

  <div class="form-group form-row">
    <label for="project_name" class="col-md-2 text-xs-left text-md-right pt-1 control-label">Project Body</label>
    <div class="col-md-9">
      <textarea rows="3" class="form-control" [(ngModel)]="project.project_body" id="project_body"
        name="project_body"></textarea>
    </div>
  </div>

  <div class="form-group form-row">
    <label for="project_name" class="col-md-2 text-xs-left text-md-right pt-1 control-label">Project Status</label>
    <div class="col-md-9">
      <select class="form-control" [(ngModel)]="project.project_status" id="project_status" name="project_status">
        <option *ngFor="let status of projectStatusService.statuses">{{status}}</option>
      </select>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-7 offset-2">
      <button class="btn btn-outline-secondary" (click)="goBack()">Cancel</button>
      <button class="btn btn-primary ml-2" (click)="save()">Save</button>
    </div>
    <div class="col-2">
          <button class="btn btn-danger float-right" (click)="delete()"><span class="oi oi-trash"></span>Delete</button>        
    </div>
  </div>
</div>